{% extends 'base.html' %}

{% block title %}ورود به حساب کاربری{% endblock %}

{% block style %}
<style>
    body{
        background-color: #BAB3AE;
        padding: 50px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="authentication">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <span>شماره همراه:</span>{{ form.phone }}
            <br>
            <span>تکرار رمز عبور</span>{{ form.password }}
            <input type="submit" value="Login" class="btn">
        </form>
        <div class="pass-link">
            <a href="#" >Lost your password?</a>
        </div>
    </div>

{% endblock %}
