{% extends 'base.html' %}

{% block title %}ثبت نام{% endblock %}

{% block style %}
<style>
    body{
        background-color: #BAB3AE;
        padding: 50px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="authentication">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <p class="text-danger">{{ form.errors.username }}</p>
            <span class="label">{{ form.username.label }}</span>{{ form.username }}
            <br>
            
            <p class="text-danger">{{ form.errors.phone }}</p>
            <span class="label">{{ form.phone.label }}</span>{{ form.phone }}
            <br>

            <p class="text-danger">{{ form.errors.email }}</p>
            <span class="label">{{ form.email.label }}</span><br>{{ form.email }}
            <br>

            <p class="text-danger">{{ form.errors.password }}</p>
            <span class="label">{{ form.password.label }}</span>{{ form.password }}
            <br>

            <span class="label">{{ form.password2.label }}</span>{{ form.password2 }}
            <br>

            <input type="submit" value="Register" class="btn">
        </form>
        <div class="pass-link">
            <a href="#" >رمز عبور خود را فراموش کردید؟</a>
        </div>
    </div>

{% endblock %}
