<div class="header">
    <div class="logo">
        <a href="{% url 'home:home' %}" style="text-decoration: none; color: #3d3c3c;">توتوریالیسم</a>
    </div>
    <div class="menu">
        <a href="{% url 'accounts:login' %}" class="link">
            <div class="title">ورود</div>
            <div class="bar"></div>
        </a>
        <a href="{% url 'accounts:logout' %}" class="link">
            <div class="title">خروج</div>
            <div class="bar"></div>
        </a>
    </div>
</div>
