@font-face {
    font-family: Dana;
    src: url(../fonts/Dana-Regular.ttf);
}

/* Default styles */
* {
    font-family: Dana;
}

.jumbotron {
    padding: 2%;
    margin-bottom: 1%;
    background-color: #C4975B;
    background-color: #C4975B;
}

a {
    text-decoration: none;
}
/* END Default styles */

/* NAVBAR */

/* DROPDOWN */
div.dropdown .dropbtn {
    background-color: #C4975B;
    color: white;
    padding: 1%;
    margin: 10% 10% 20% 1%;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 3%;
}

div.dropdown {
    position: relative;
    display: inline-block;
    width: 10%;
}
  
div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2%;
}
  
div.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

div.dropdown-content a:hover {background-color: #ddd;}
div.dropdown:hover .dropdown-content {display: block;}
div.dropdown:hover .dropbtn {background-color: #C4975B;}
/* ENDDROPDOWN */


.header {
    width: 100%;
    text-align: right;
    position: relative;
    background-color: #BAB3AE;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        font-weight: 100;
        padding: 1.1%;
        color: black;
    }
}

.link {
    display: inline-block;
    padding: 1% 0;
    margin: 1% 2%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #3d3c3c;
    font-weight: 800;
    font-size: 1rem;

    .bar {
        width: 100%;
        display: inline-block;
        border-bottom: 5px solid #C4975B;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 300ms;
    }
    &:hover {
        color: #C4975B;
        .bar {
            opacity: 1;
            bottom: 5px;
        }
    }
}
/* END NAVBAR */

/* AUTHENTICATION */
.authentication{
    margin: 2% auto;
    padding: 2%;
    width: 30%;
    height: 30%;
    background-color: #C4975B;
    border-radius: 5px;
}
h1{
    width: 70%;
    color: #777;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
    /*padding-top: 40px;*/
}
form{
    /*padding: 15px;*/
    text-align: center;
}
input{
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}
form .field{
    background-color: #ECF0F1;
    margin-bottom: 1%;
}
form p {
    margin-bottom: 0;
}
form div.fields {
    margin-top: 2%;
    margin-bottom: 2%;
}
form .field:focus {
    border: 2px solid #736984;
}
form .btn{
    background-color: #736984;
    color: #FFFFFF;
    line-height: 25px;
    cursor: pointer;
}
form .btn:hover,
form .btn:active {
    background-color: #736984;
    border: 2px solid #736984;
    color: #3d3c3c;
}
.pass-link{
    text-align: center;
}
.pass-link a:link,
.pass-link a:visited{
    font-size: 12px;
    color: black;
}

/* END AUTHENTICATION */
