{% extends 'base.html' %}

{% block title %} دوره {{ course.name }} {% endblock title %}

{% block content %}

    <div class="detail">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb" dir="ltr">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
              <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}">دوره ها</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
            </ol>
        </nav>
        <!-- END BREADCRUMB -->

        <img src="{{ course.banner.url }}" class="img-fluid detail-img" alt="{{ course.name }}">
        <p class="lead detail-lead">
            {{ course.name }}
        </p>
        <hr style="width: 50%; margin: auto;">
        <p class="detail-description">{{ course.description|safe }}</p>
        <hr style="width: 50%; margin: auto;">

        <div class="d-grid gap-2 col-6 mx-auto mt-2">
            <a href="#" 
            class="btn btn-primary videos-btn" type="button">
                ویدیو های دوره
            </a>
        </div>          
    </div>

{% endblock content %}
